body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: white;
    overflow-x: hidden; /* Ocultar barra de desplazamiento horizontal */
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    margin: 0;
}

.menu.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.menu-icono {
    display: none;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar > .menu-list > li > a:hover {
    color: #F7DC6F;
}

.menu-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu-list li {
    margin: 0 2px;
}

@media (min-width: 768px) {
    .menu-list li {
        margin: 0 10px;
    }
}

.menu-list a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/*main*/
.conteiner-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px; /* Añadir padding para evitar desbordamiento */
}

@media (max-width: 768px) {
    .conteiner-items {
        grid-template-columns: 1fr 1fr;
    }
}

.item {
    border-radius: 10px;
}

.item:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.info-producto {
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    height: 400px;
}

@media (max-width: 600px) {
    .info-producto {
        height: 200px;
    }
}

.info-producto h2, .info-producto p {
    font-size: 2vw;
}

.cont-precio {
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.item img {
    width: 100%;
    height: auto; /* Ajustar la altura automática */
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure {
    overflow: hidden;
}
.imgCard {
    transition: ease-in-out width 0.38s;
}

.imgCard:hover {
    width: 550px;
}

.precio {
    font-size: 18px;
    font-weight: 900;
}

.info-producto .cont-precio button {
    border: none;
    background: none;
    background: linear-gradient(150deg, #F7DC6F, #FAD7A0);
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
    width: 70%;
}

.info-producto button:hover {
    box-shadow: 0 10px 20px rgba(0.20, 0.20, 0.20, 0.20);
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .footer-content {
    text-align: center;
}

.footer .footer-content h3 {
    margin-bottom: 10px;
}

.footer .footer-content p {
    margin: 5px 0;
}

.footer .socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer .socials a img {
    width: 30px;
    height: 30px;
}



